<a href="{% url 'products' %}" class="category-badge text-decoration-none">
    <span class="p-2 mt-2 badge badge-white text-black rounded-pill border border-dark" style="font-size: 110%;">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
    </span>
</a>
<a href="{% url 'checkout' %}" class="category-badge text-decoration-none">
    <span class="p-2 mt-2 badge badge-white text-black rounded-pill border border-dark" style="font-size: 110%;">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
    </span>
</a>