{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="w-100" id="index-image">
        <div class="row h-100 justify-content-end">
            <div class="col-7 col-md-6 col-sm-6" style="margin-top: 25%;">
                <div class="welcome-text">
                    <h2>Coktails made for your home</h2>
                    <p>Shop our collection of pre-made cocktails and take your home bartending to the next level.</p>
                    <button class="btn btn-outline-light btn-shop">Shop Now</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}