@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&family=Raleway:wght@200&display=swap');

/* ---- CORE STYLING ---- */
html {
    height: 100%;
}

body {
    font-family: 'Comme', sans-serif;
    background-color: #eeda90;
}

.text-black {
    color:#000 !important;
}

/* ---- NAVBAR ---- */

#topnav {
    background-color: #eeda90;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    background-color: #eeda90;
    padding: 0 1rem !important;
}

.top-banner {
    color: #eeda90;
    background-color: #000;
}

.custom-logo {
    padding-top: 0 !important;
}

.fa-cart-shopping {
    position: relative;
}

.fa-cart-shopping .count {
    position: absolute;
    top: -24px;
    right: -10px;
    background-color: red;
    color: #eeda90;
    font-size: 7px;
    padding: 9px 4px;
    border-radius: 50rem;
    height: 17px;
  }

@media (min-width: 1200px) {
    .container {
        max-width : 80%;
    }
}

@media (min-width : 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index : 1030;
    }

    .header-container {
        padding-top :164px;
    }
}

@media (max-width : 991px) {
    .header-container {
        padding-top: 200px;
    }

    body {
        height: calc(100vh - 183px);
    }

    .navbar-nav {
        float: right;
        text-align: right;
    }
    .nav-item > a {
        margin-right: 1rem !important;
    }
}

/* ---- Index welcome page ---- */
#index-image {
    background: url('../media/index-image.jpg') no-repeat left center fixed;
    background-color: #000;
    background-size: contain;
    height: calc(100vh - 100px);
}

.welcome-text {
    width: 90%;
    
    margin: 0 10%;
  }
  
  .welcome-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:#fff !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eeda90;
    font-family: 'Raleway', sans-serif;
  }
  
  .welcome-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color:#fff !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eeda90;
    font-family: 'Raleway', sans-serif;
  }
  
  .welcome-text button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 1px solid #eeda90;
    cursor: pointer;
    color: #eeda90;
  }

  /* ----- Products page ----- */

  a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #eeda90 !important;
  }

  .message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999999;
  }

/* ----- Toasts ----- */

  .custom-toast {
    overflow: visible;
  }

  .toast-capper {
    height: 2px;
  }

  /* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 26px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

  /* ----- Product detail page ----- */

  .add-to-bag-btn {
    background-color: #eeda90;
    border: 1px solid #000000;
    border-radius: 50rem; 
    color:#eeda90; 
    font-size : 75%; 
    font-weight: 700; 
    line-height: 1;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .add-to-bag-btn:hover { 
    background: #212529 !important;
    color: #eeda90 !important;
  }


  /* ----- Shopping bag page, Checkout ----- */

  .update-link, .remove-item {
    cursor: pointer;
  }

  #submit-button {
    background:#eeda90
  }
  
  #submit-button:hover { 
    background: #212529 !important;
    color: #eeda90 !important;
  }

/* ----- Stripe ----- */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}