@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&family=Raleway:wght@200&display=swap');

/* ---- CORE STYLING ---- */
html {
    height: 100%;
}

body {
    font-family: 'Comme', sans-serif;
}

.text-black {
    color:#000 !important;
}

/* ---- NAVBAR ---- */

.navbar {
    font-family: 'Raleway', sans-serif;
}

.custom-logo {
    
}