{% block content %}
{% load static %}
<!-- Mobile devide header -->
<ul style="padding: 0px; margin-top: 1rem;">
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form method="GET" action="{% url 'products' %}">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mr-5 w-100">
                <div class="input-group">
                    <input class="form-control rounded rounded-pill bg-light" type="search" name="q" placeholder="Search our site" aria-describedby="search-button2">
                        <div class="input-group-append">
                            <button id="search-button2" type="submit" class="btn btn-link text-primary text-black">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fa-solid fa-circle-user fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg-right border-0" aria-labelledby="user-options2">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a href="{% url 'view_bag' %}" class="text-black nav-link d-block d-lg-none">
        <div class="text-center">
            <i class="fa-solid fa-cart-shopping fa-lg">
                {% if product_count %}
                    <span class="count">{{ product_count }}</span>
                {% endif %}       
            </i>
        </div>
    </a>
</li>
<li class="list-inline-item">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars fa-lg text-black"></i>
    </button>
</li>
<!-- End Mobile device header -->
</ul>
{% endblock %}