{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-3">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Review</th>
                                <th scope="col">User</th>
                                <th scope="col">Date</th>
                            </tr>
                            
                        </thead>
                        
                        
                        {% for review in reviews %}
                        <tr>
                            <td class="w-25">
                                <a href="{% url 'product_detail' review.product.id %}">
                                <img src="{{ review.product.image.url }}" class="w-25" alt="{{ review.product.name }} Image">
                                 </a>
                            </td>
                            <td>
                                <a href="{% url 'product_detail' review.product.id %} " class="text-decoration-none text-black">
                                <p>{{ review.product.name }}</p>
                                 </a>
                            </td>
                            <td class="w-25">
                                <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                                <p>{{ review.comment }}</p>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                                <p>{{ review.user.username }}</p>
                                </a>
                            </td>
                            <td class="w-25">
                                <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                                <p>{{ review.created_at }}</p>
                                </a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}                