{% extends "base.html" %}
{% load static %}
{% block reviews %}active text-center{% endblock %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col text-center my-4">
         <h1 class="my-3">Products Reviews</h1>
         <div class="table-responsive rounded">
            <table class="table table-sm table-borderless">
               <thead class="text-black">
                  <tr>
                     <th scope="col">Product</th>
                     <th scope="col">User</th>
                     <th scope="col">Review</th>
                  </tr>
               </thead>
               {% if reviews %}
               {% for review in reviews %}
               <tr>
                  <td class="w-25">
                     <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                        <p>{{ review.product.name }}</p>
                     <img src="{{ review.product.image.url }}" class="w-75" alt="{{ review.product.name }} Image">
                     </a>
                  </td>
                  <td class="w-25">
                    <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                       <p>{{ review.user.username }}</p><p>{{ review.created_at | date:"F d, Y"  }}</p>
                    </a>
                 </td>
                  <td class="w-50">
                     <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-black">
                        <p>{{ review.comment }}</p>
                     </a>
                  </td>
               </tr>
               {% endfor %}
               {% else %}
                <h4 class="my-3">There are no reviews yet.</h4>
                {% endif %}
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}